#div1{
	background-color : blue;
	height : 200px ;
	width : 500px ;
}
#div2{
	background-color : pink;
	position : relative;
	top : 35px;
	left : 50px;
	height : 100px;
	width : 400px;
}
#div3{
	background-color : green;
	position : relative;
	left : 70px;
	top : 25px;
	width : 250px;
	
}
#div4{
	background-color : red;
	width : 500px ;
}